.main{
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: bolder;
}
.i{
    margin-left: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.flow{
    max-height: 300px;
    overflow-y: auto;
}

@media ( max-width : 600px ) {
    .main{
        min-width : max-content;
        min-height: 100vh;
    }

    .container, .card {
        width: 100%;
    }

    .container .card .card-content{
        color: red;
    }

    /* .flex {
    flex-direction: column;
    align-items: center; 
} */

.flex input {
    margin-bottom :10px;
}
}